* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(240, 204, 128), rgb(236, 169, 169));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-player {
    background: rgba(0, 0, 0, 0.1);
    width: 900px;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 50px;
}

.video-name {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.url-name {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.title {
    text-align: center;
    font-size: 35px;
    cursor: pointer;
}

.video-url {
    display: flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video-controllers {
    position: absolute;
    z-index: 99;
    background: rgba(85, 85, 85, 0.5);
    width: 100%;
    bottom: 0;
    padding: 0 10px;
    transform: translateY(44%);
    transition: transform 0.3s;
}

.video-player:hover .video-controllers {
    transform: translateY(0);
}

.video-time {
    float: right;
    margin: 10px;
}

.video-time span {
    font-weight: 700;
}

.video-progress {
    position: relative;
    display: flex;
    width: 100%;
    height: 5px;
    transition: .3s;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border-radius: 3px;
}

.video-progress .progress-filled {
    width: 0;
    background-color: #5d0499;
    border-radius: 5px;
}

.video-player:hover .video-progress {
    height: 20px;
    border-radius: 5px;
}

.controll-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.controll-buttons>div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.fas,
input[type="range"] {
    cursor: pointer;
    color: #999;
    font-size: 25px;
}

.fas:hover {
    color: #9a04ff;
}

.fa-bars {
    font-size: 25px;
}

.fa-fast-backward,
.fa-fast-forward {
    margin: 0 15px;
}

.fa-fast-backward {
    opacity: 0;
    pointer-events: none;
}

.fa-play,
.fa-pause {
    font-size: 30px;
    padding: 10px;
    display: none;
}

.fa-stop-circle {
    margin-right: 15px;
}

.fa-play.active,
.fa-pause.active {
    display: block;
}

.controll-buttons p {
    display: flex;
    align-items: center;
}

.controll-buttons p span {
    font-size: 20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
    width: 40px;
    text-align: right;
}

.mute {
    font-size: 15px;
    margin-left: 10px;
}

.controll-buttons p input {
    -webkit-appearance: none;
    height: 3px;
    background: #999;
    outline: none;
}

.controll-buttons p input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background: #9900ff;
}

.controll-buttons p .speed-up {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background: none;
    outline: none;
    color: #999;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.controll-buttons p .speed-up.active {
    color: #9900ff;
    border-color: #9900ff;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block-play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    position: relative;
    z-index: 99999999;
    opacity: 0;
    pointer-events: none;
}

.block-play button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: none;
    background-color: #000;
}

.block-play i {
    font-size: 80px;
    color: rgb(255, 255, 255);
    transition: 1s;
    display: block;
}

.block-play .fa-play {
    margin-left: 12px;
}

.block-play .fa-pause {
    display: none;
}

.block-play i:hover {
    color: rgb(255, 255, 255);
}